.w {
    padding: 20px;
    position: absolute;
    z-index: 4;
    /*border: 1px solid #2e6f9a;*/
    border: 1px solid #34495e;
    /*box-shadow: 2px 2px 19px #e0e0e0;*/
    /*-o-box-shadow: 2px 2px 19px #e0e0e0;*/
    /*-webkit-box-shadow: 2px 2px 19px #e0e0e0;*/
    /*-moz-box-shadow: 2px 2px 19px #e0e0e0;*/
    /*-moz-border-radius: 8px;*/
    /*border-radius: 8px;*/
    border-radius: 4px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: move;
    background-color: white;
    font-size: 14px;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
    text-align: center;
}

.w:hover {
    /*background-color: #5c96bc;*/
    background: #48c9b0;
    color: white;
}

.aLabel {
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.aLabel._jsPlumb_hover, ._jsPlumb_source_hover, ._jsPlumb_target_hover {
    background-color: #1e8151;
    color: white;
}

.aLabel {
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #346789;
    cursor: pointer;
    
}

.ep {
    position: absolute;
    /*bottom: 37%;*/
    bottom: 38%;
    right: 5px;
    width: 1em;
    height: 1em;
    background-color: orange;
    cursor: pointer;
    /*box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;*/
    border-radius: 4px;
}

.ep:hover {
    /*box-shadow: 0px 0px 6px black;*/
    background: darkorange;
}

.statemaschine ._jsPlumb_endpoint {
    z-index: 3;
}

.statemaschine {
    position: absolute;
}
/*
#opened {
    position: absolute;
    left: 120px;
    top: 70px;
}
#phone1 {
    position: absolute;
    left: 240px;
    top: 250px;
    width: 7em;
}
#infers {
    position: absolute;
    left: 350px;
    top: 70px;
}
#phone2 {
    position: absolute;
    left: 525px;
    top: 60px;
}
#rejected {
    position: absolute;
    left: 500px;
    top: 250px;
}
*/
.dragHover {
    border: 2px solid orange;
}

path {
    cursor: pointer;
}

body {
    padding:0;
    margin:0;
    font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*background-color: whitesmoke;*/
    background-color: white;
    /*text-align: center;*/
}

.info {
    position: absolute;
    bottom: 37%;
    left: 5px;
    width: 1em;
    height: 1em;
    background-color: blue;
    cursor: pointer;
    /*box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
    //icon: auto;*/
}
.info:hover {
    /*box-shadow: 0px 0px 6px black;*/
}

/* new try
.stm ._jsPlumb_endpoint {
    z-index: 3;
}
.stm {
    position: absolute;
    height: 100%;
    width: 100%;
}*/