.tab-Container{
    /*background:#f0f0f0;
    border:1px solid #fff;
    margin:100px auto;
    padding:20px;*/
    position:relative;
    width: inherit;
    height: 30px;
}
.tab-Container ul{
    overflow:hidden;
    /*border-right:1px solid #fff;*/
    /*height:35px;*/
    height: 30px;
    /*height: 60px;*/
    /*position:absolute;*/
    z-index:100;
    margin:0;
    padding:0;
    position: fixed;
    width: inherit;
    text-align: center;
}
.tab-Container li{
    float:left;
    list-style:none;
    width: 25%;
}
.tab-Container li a{
    /*background:#ddd;*/
    background:#ccc;
    /*border:1px solid #fcfcfc;*/
    border-right:0;
    color:#666;
    cursor:pointer;
    display:block;
    /*height: 35px;*/
    /*line-height:35px;*/
    line-height:30px;
    /*padding:0 30px;*/
    padding:0 8px;
    text-decoration:none;
    text-transform:uppercase;
}
.tab-Container li a:hover{
    /*background:#eee;*/
    background:#ddd;
}
.tab-Container li a.active{
    /*background:#fbfbfb;*/
    /*background:#eee;*/
    background: #48c9b0;
    /*border:1px solid #fff;*/
    border-right:0;
    /*color:#333;*/
    color: #ffffff;
}
.tabDetails{
    /*background:#fbfbfb;*/
    background:#eee;
    /*border:1px solid #fff;*/
}
.tabContents{
    padding:20px;
}
.tabContents p{
    padding:0 0 10px;
    font-size: 14px;
}

.label-tabs {
    color: #666;
}

#select2-drop {
    min-width: 90px;
}

#inputUnitName {
    margin-bottom: 20px;
}

/*.contextInfo-add {
    float: right;
    color: #666;
    line-height: 2.3;
}*/

#btnAddContextInfos {
    margin-top: 10px;
    width: 100%;
}
#btnBackToMainContextInfo {
    margin-bottom: 10px;
}
#btnConfirmContextInfo {
    margin-top: 30px;
    width: 100%;
}

.hr-tabs {
    border-top: 1px solid #ccc;
}

/*.parameter-add {
    float: right;
    color: #666;
}*/

/*.parameter-close {
    line-height: 2.3;
    margin-left: 3px;
    color: #666;
}*/

.unit-icons {
}
.unit-icon {
    /*position: absolute;
    top: 3%;
    left: 40%;*/
    padding: 0 1px;
    display: inline-flex;
}

.unit-meta-icons {
    /*position: absolute;
    bottom: 3%;
    left: 42%;*/
    /*float: left;*/
    padding: 0 5px;
    display: inline-flex;
}

#divContextParameter > div {
    display: none;
}


.divParameterInputs {
    display: table-cell;
    padding-right: 10px;
}
.divParameterInputs > input{
    width: 80px;
}

