.tab-Container{
    position:relative;
    width: inherit;
    height: 30px;
}
.tab-Container ul{
    overflow:hidden;
    height: 30px;
    z-index:100;
    margin:0;
    padding:0;
    position: fixed;
    width: inherit;
    text-align: center;
}
.tab-Container li{
    float:left;
    list-style:none;
    width: 33.33%;
}
.tab-Container li a{
    background:#ccc;
    border-right:0;
    color:#666;
    cursor:pointer;
    display:block;
    line-height:30px;
    padding:0 8px;
    text-decoration:none;
    text-transform:uppercase;
}
.tab-Container li a:hover{
    background:#ddd;
}
.tab-Container li a.active{
    background: #48c9b0;
    border-right:0;
    color: #ffffff;
}
.tabDetails{
    background:#eee;
}
.tabContents{
    padding:20px;
}
.tabContents p{
    padding:0 0 10px;
    font-size: 14px;
}

.label-tabs {
    color: #666;
}

#select2-drop {
    min-width: 90px;
}

#inputUnitName {
    margin-bottom: 20px;
}

#tabBtnDeleteUnit {
    margin-top: 50px;
    width: 100%;
}

#btnAddContextInfos {
    margin-top: 10px;
    width: 100%;
}
#btnBackToMainContextInfo {
    margin-bottom: 10px;
}
#btnConfirmContextInfo {
    margin-top: 30px;
    width: 100%;
}

#btnConfirmContextInfoSmall {
    width: 50px;
    float: right;
}

.hr-tabs {
    border-top: 1px solid #ccc;
}

.unit-icons {
}
.unit-icon {
    padding: 0 1px;
    display: inline-flex;
}

.unit-meta-icons {
    padding: 0 5px;
    display: inline-flex;
}

#divContextParameters > div {
    display: none;
}


.divParameterInputs {
    display: table-cell;
    padding-right: 10px;
}
.divParameterInputs > input{
    width: 107px;
    margin-right: 10px;
}

#divMaps {
    margin: 15px 0;
 }
/* google search box */
.controls {
    margin-top: 8px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
}
#pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 84%;
}
#pac-input:focus {
    border-color: #4d90fe;
}
.pac-container {
    /*font-family: Roboto;*/
}
#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}
#type-selector label {
    font-size: 13px;
    font-weight: 300;
}
/* end google search box */

.tabRelation {
    display: none;
}
#tabRelationHead {
    height: 30px;
    text-align: center;
    background: #48c9b0;
}
#tabRelationHead a {
    color: #ffffff;
}
#tabRelationBody {
    padding: 20px;
}

#preLabelRelations {
    font-size: 18px;
    font-weight: 400;
}
#s2id_selectRelations {
    min-width: 235px;
    margin-top: 10px;
    margin-bottom: 15px;
}
#postLabelRelations {
    font-size: 18px;
    font-weight: 400;
}

#tabBtnDeleteConnection {
    width: 100%;
    margin-top: 40px;
}

.formatIconText {
    padding-left: 5px;
}
