<div id="simulatorContainer" class="simulator-container">

    <div id="simulatorHeader">
        <div id="simulationTitle">
            <div>
                <a href="#" id="simulatorInfo" title="Erklärung zum Simulator anzeigen"><b class="btn-xs fui-question-circle"></b></a>
            </div>
            <div>
                <span>
                    <label for="simulationSelection">Wählen Sie einen Testfall:</label>
                    <select id="simulationSelection" class="form-control select select-primary mbl">
                        <optgroup class="opt-current-scenario" label="für dieses Szenario"></optgroup>
                        <optgroup id="opt-other-scenario" label="als Kopie von"></optgroup>
                    </select>
                </span>
                <span id="btnSimulationProperties" class="btn fui-gear" title="Eigenschaften bearbeiten">
                </span>
            </div>
        </div>
    </div>


    <div id="timelineContainer" align="center">
        <span id="timelineName">Szenario-Zeitleiste</span>
        <a href="#" id="timelineInfo" title="Hilfe zur Zeitleiste anzeigen"><b class="btn-xs fui-question-circle"></b></a>
        <div id="timelineTableWindow">
            <table id="timelineTable">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div id="simulationToolbar" align="center">
        <span id="playbackControls">
            <div id="btnBackToStart" class="btn btn-sm fui-first" title="Zurück zum Anfang"></div>
            <div id="btnBackward" class="btn btn-sm fui-backward2" title="Schritt zurück"></div>
            <div id="btnPlaySimulation" class="btn btn-sm fui-play" title="Simulation starten"></div>
            <div id="btnForward" class="btn btn-sm fui-forward3"  title="Schritt vor"></div>
        </span>
        <span>
            <div id="btnSimulatorOptions" class="btn btn-sm fui-gear" title="Optionen"></div>
        </span>
    </div>
</div>


<div id="simulatorPropertiesContainer" class="simulator-container simulator-component-template">
    <div>
        <div class="btn back-to-simulator btn-info btn-xs" title="Speichern und zurück zum Simulator">
            <b class="fui-arrow-left"> </b><b class="fui-home"></b>
        </div>
    </div>
    <div>
        <label for="simulationNameInput" class="label-tabs label">Name des zu simulierenden Testfalls:</label>
        <input id="simulationNameInput" class="form-control" type="text">
    </div>
    <div>
        <label for="simulationDescriptionInput" class="label-tabs label">Beschreibung:</label>
        <textarea id="simulationDescriptionInput" class="form-control" rows="5"></textarea>
    </div>
    <div>
        <div id="btnDeleteSimulation" class="btn btn-danger">
            <b class="fui-trash"> </b>Diesen Testfall löschen
        </div>
    </div>
    <div id="simulationList">
    </div>
    <label for="simulationList">Weitere Testfälle</label>
</div>



<div id="simulationOptionsContainer" class="simulator-container simulator-component-template">
    <div>
        <div class="btn back-to-simulator btn-info btn-xs" title="Speichern und zurück zum Simulator">
            <b class="fui-arrow-left"> </b><b class="fui-home"></b>
        </div>
    </div>
    <div>
        <label for="simulationSpeedInput" class="label-tabs label">Abspielgeschwindigkeit:</label>
        <input id="simulationSpeedInput" class="form-control" type="number" min="1">
        <label for="simulationSpeedInput" class="label-tabs label">(Sekunden pro Situation)</label>
    </div>

</div>


<div class="modal simulation-notification">
    <div class="modal-content">
        <div class="modal-body">
            <div>Die Regeln werden generiert, einen Moment Geduld bitte.</div>
        </div>
    </div>
</div>



<div class="simulator-component-template popover-context-info">

    <div class="popover-parameters"></div>

    <input class="popover-value form-control" maxlength="40">
    <select class="popover-value select form-control select-primary select-block mbl"></select>

    <div class="popover-bottom-buttons">
        <div class="popover-confirm btn btn-info" title="Speichern und schließen">
            <b class='fui-check-circle'></b>Bestätigen
        </div>
        <div class="popover-delete btn btn-danger" title="Eintrag entfernen">
            <b class='fui-trash'></b>Löschen
        </div>
    </div>

</div>