#tab5 {
    width: 100%;
    padding: 0px;
}

.simulator-container {
    width: 100%;
    position: absolute;
    top: 30px;
    bottom: 0px;
}


#simulatorHeader {
    padding: 10px;
}

#simulationTitle {
    overflow: visible;
    text-align: center;
}

#simulatorInfo {
    float: right;
}

#simulationTitle .select {
    max-width: 200px;
    min-width: 200px;
    width: 200px;
}

#simulationTitle .btn:hover {
    background-color: #cccccc;
    color: white;
}

#simulationToolbar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 5px;
}

#simulationToolbar span {
    margin: 5px;
}

#playbackControls div.btn {
    background-color: white;
    border: 1px solid grey;
}

#playbackControls div.btn:hover,
#btnSimulatorOptions.btn:hover {
    background-color: #cccccc;
}
#btnSimulatorOptions {
    background-color: grey;
    color: white;
}





.simulator-component-template {
    display: none;
}
.simulator-component-template {
    padding: 20px;
}
.simulator-component-template > div,
#simulationProperties > div {
    margin-bottom: 20px;
    width: 100%;
}
#btnCopySimulation,
#btnDeleteSimulation {
    margin-top: 20px;
    width: 100%;
}
#simulationList {
    border-top: 1px solid lightgrey;
}