div.lightbox-overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 275px;
    z-index: 100;
    background-color: black;
    opacity: 0.2;
}

div.w.selected-unit {
    position: absolute;
    z-index: 101;
    opacity: 1;
    border: 5px solid cyan;
}

div.w.prev-selected-unit {
    position: absolute;
    z-index: 101;
    opacity: 1;
    border: 5px solid darkcyan;
}