div#popoverContentTemplate {
    display: none;
}

div.popover h3.popover-title div a.popover-close {
    float: right;
}

div.popover-context-info {
    text-align: center;
}

div.popover-context-info > * {
    text-align: left;
}

div.popover-context-info input.popover-value,
div.popover-context-info .select,
div.popover-context-info div.popover-parameters {
    display: block;
    width: 235px;
    margin-bottom: 10px;
}

.popover-parameter {
    display: block;
    width: 235px;
    margin-bottom: 10px;
}

div.popover-context-info div.btn.popover-confirm {
    margin: 5px;
}