div.popover h3.popover-title div a.close-popover {
    float: right;
}

div#popoverContentTemplate {
    display: none;
}

div[id^=simulatedContextInfoMenu] select,
div[id^=simulatedContextInfoMenu] input {
    display: block;
    min-width: 235px;
    margin-bottom: 10px;
}

div[id^=simulatedContextInfoMenu] div.confirm-popover {
    align-self: center;
}
