<div id="simulatorContainer">

    <div id="simulatorHeader">
        <div id="simulatorInfo">
            <span id="btnSimulatorInfo" class="btn btn-info btn-sm fui-info" title="Erste Schritte"></span>
            <span id="simulatorInfoText"></span>
        </div>
        <div id="simulationTitle">
            <span id="simulationName"></span>
            <span id="btnSimulatorDescription" class="btn btn-sm fui-new" title="Name und Beschreibung ändern"></span>
        </div>
    </div>


    <div id="timelineContainer" align="center">
        <table id="timelineTable">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="simulationToolbar" align="center">
        <span id="playbackControls">
            <div id="btnSlower" class="btn btn-sm fui-backward2" title="Schritt zurück"></div>
            <div id="btnPlay" class="btn btn-sm fui-play" title="Simulation starten"></div>
            <div id="btnFaster" class="btn btn-sm fui-forward3"  title="Schritt vor"></div>
        </span>
        <span>
            <div id="btnSimulatorOptions" class="btn btn-sm fui-gear" title="Optionen"></div>
        </span>
    </div>

<!--
    <div id="simulatorFooter">
    </div>-->
</div>

<div id="popoverContentTemplate">

    <div class="popover-context-info">
        <div class="popover-parameters"></div>

        <input class="popover-value form-control" maxlength="40">
        <select class="popover-value select form-control select-primary select-block mbl"></select>

        <div class="popover-confirm btn btn-info" title="Speichern und schließen">
            <b class='fui-check-circle'></b>Bestätigen
        </div>
    </div>

</div>