#tab5 {
    padding: 10px;
    width: 100%;
}

div#simulatorContainer {
    width: 100%;
}

div#simulatorHeader {
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
}

div#simulationTitle {
    max-width: 50%;
    overflow: visible;
    display: inline;
}


div#simulationToolbar {
    width: 100%;
    margin-top: 20px;
    border-top: solid 1px;
    display: inline-block;
}
div#simulationToolbar span {
    margin: 5px;
    padding: 5px;
}
span#playbackControls div.btn {
    background-color: white;
}
span#playbackControls div.btn:hover {
    background-color: #bbbbbb;
}