<div id="simulatorContainer">

    <div id="simulatorHeader">
        <div id="simulatorInfo">
            <span id="btnSimulatorInfo" class="btn btn-info btn-sm fui-info" title="Erste Schritte"></span>
        </div>
        <div id="simulationTitle">
            <span>Unbenannte Simulation</span>
            <span id="btnSimulatorDescription" class="btn btn-sm fui-new" title="Beschreibung"></span>
        </div>
    </div>


    <div id="timelineContainer" align="center">
        <table id="timelineTable">
            <thead>
            <tr class="timelineHeader">
                <th></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="simulationToolbar" align="center">
        <span id="playbackControls">
            <div id="btnSlower" class="btn btn-sm fui-backward2" title="halbe Geschwindigkeit"></div>
            <div id="btnPlay" class="btn btn-sm fui-play" title="Simulation starten"></div>
            <div id="btnFaster" class="btn btn-sm fui-forward3"  title="doppelte Geschwindigkeit"></div>
        </span>
        <span>
            <div id="btnSimulatorOptions" class="btn btn-sm fui-gear" title="Optionen"></div>
        </span>
    </div>

<!--
    <div id="simulatorFooter">
    </div>-->
</div>