#tab5 {
    width: 100%;
    padding: 0px;
}

#simulatorContainer {
    width: 100%;
    position: absolute;
    top: 30px;
    bottom: 0px;
}

#simulatorHeader {
    padding: 10px;
}

#simulationTitle {
    overflow: visible;
    text-align: center;
}

#simulationTitle span {
    text-align: center;
}
#simulationName{
    cursor: default;
}

#btnSimulatorDescription:hover {
    background-color: #cccccc;
    color: white;
}

#simulationToolbar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 5px;
}

#simulationToolbar span {
    margin: 5px;
}

#playbackControls div.btn {
    background-color: white;
    border: 1px solid grey;
}

#playbackControls div.btn:hover,
#btnSimulatorOptions.btn:hover {
    background-color: #cccccc;
}
#btnSimulatorOptions {
    background-color: grey;
    color: white;
}