table#timelineTable,
table#timelineTable tbody,
table#timelineTable tr,
table#timelineTable td {
    margin: 0px;
    padding: 0px;
    height: inherit;
    border-collapse: collapse;
}

table#timelineTable {
    width: 100%;
    height: 100%;
    text-align: center;
}

table#timelineTable thead tr.timeline-header th {
    text-align: center;
}

table#timelineTable tr.timeline-step {
    height: 30px;
}

table#timelineTable .timeline-step-label {
    height: inherit;
    width: 10px;
    border-style: solid none;
    margin: 0px;
    padding: 0px;
    font-size: small;
    vertical-align: middle;
}

table#timelineTable tr:first-of-type td.timeline-step-label,
table#timelineTable tr:last-of-type td.timeline-step-label,
table#timelineTable th.timeline-step-label {
    border-style: none;
}

table#timelineTable tr.timeline-step > td.timeline-cell {
    width: 30px;
    min-width: 30px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    cursor: copy;
}


table#timelineTable tr.timeline-step > td.timeline-cell[contextClass=CC_SCENARIO] {
    background-color: #d6e8f5;
}
table#timelineTable tr.timeline-step > td.timeline-cell[contextClass=CC_PERSONAL] {
    background-color: #eed8f3;
}
table#timelineTable tr.timeline-step > td.timeline-cell[contextClass=CC_SITUATIONAL] {
    background-color: #e6fdce;
}
table#timelineTable tr.timeline-step > td.timeline-cell[contextClass=CC_TECHNICAL] {
    background-color: #e6e6e6;
}
table#timelineTable tr.timeline-step > td.timeline-cell[contextClass=CC_PHYSICAL] {
    background-color: #fef6cd;
}
table#timelineTable tr.timeline-step > td.timeline-cell[contextClass=CC_LOCATION] {
    background-color: #fbd2d0;
}


table#timelineTable tr.timeline-step > td.timeline-cell-occupied {
    width: inherit;
    height: inherit;
    position: relative;
    border-top: none;
    border-bottom: none;
    border-left: 2px solid;
    border-right: 2px solid;
    cursor: pointer;
}

table#timelineTable tr.timeline-step > td.timeline-cell-marked[contextClass=CC_SCENARIO],
table#timelineTable tr.timeline-step > td.timeline-cell-occupied[contextClass=CC_SCENARIO] {
    background-color: #3287C8;
}
table#timelineTable tr.timeline-step > td.timeline-cell-marked[contextClass=CC_PERSONAL],
table#timelineTable tr.timeline-step > td.timeline-cell-occupied[contextClass=CC_PERSONAL] {
    background-color: #AF46C8;
}
table#timelineTable tr.timeline-step > td.timeline-cell-marked[contextClass=CC_SITUATIONAL],
table#timelineTable tr.timeline-step > td.timeline-cell-occupied[contextClass=CC_SITUATIONAL] {
    background-color: #91F52D;
}
table#timelineTable tr.timeline-step > td.timeline-cell-marked[contextClass=CC_TECHNICAL],
table#timelineTable tr.timeline-step > td.timeline-cell-occupied[contextClass=CC_TECHNICAL] {
    background-color: #969696;
}
table#timelineTable tr.timeline-step > td.timeline-cell-marked[contextClass=CC_PHYSICAL],
table#timelineTable tr.timeline-step > td.timeline-cell-occupied[contextClass=CC_PHYSICAL] {
    background-color: #FADC3C;
}
table#timelineTable tr.timeline-step > td.timeline-cell-marked[contextClass=CC_LOCATION],
table#timelineTable tr.timeline-step > td.timeline-cell-occupied[contextClass=CC_LOCATION] {
    background-color: #F03C32;
}

table#timelineTable tr.timeline-step > td.timeline-cell-occupied div.occupied-resize-handle {
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0px;
    display: block;
    cursor: s-resize;
}
table#timelineTable tr.timeline-step > td.timeline-cell-occupied div.occupied-resize-handle:hover {
     border-bottom: double;
 }