div#timelineContainer {
    position: relative;
    left: 0px;
    width: 100%;
    height: 70%;
    overflow: auto;
    margin-top: 20px;
    background-color: grey;
}

table#timelineTable,
table#timelineTable tbody,
table#timelineTable tr,
table#timelineTable td {
    margin: 0px;
    padding: 0px;
    height: inherit;
}

table#timelineTable {
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 10px;
}

table#timelineTable text {
    font-size: medium;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
}

table#timelineTable .timelineHeader th {
    text-align: center;
}

table#timelineTable .timelineStep {
    height: 30px;
}

table#timelineTable td.timelineStepLabel {
    height: inherit;
    width: 10px;
    border-style: solid none;
}

table#timelineTable td.timelineStepLabel div {
    margin: 0px;
    padding: 0px;
    width: 10px;
    font-size: small;
    text-align: center;
    vertical-align: middle;
}

table#timelineTable tr:first-of-type .timelineStepLabel,
table#timelineTable tr:last-of-type .timelineStepLabel {
    border-style: none;
}

table#timelineTable .timelineStep > .timelineCell {
    width: 30px;
    min-width: 30px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}


table#timelineTable .timelineStep > .timelineCell[contextClass=CC_SCENARIO] {
    background-color: #d6e8f5;
}
table#timelineTable .timelineStep > .timelineCell[contextClass=CC_PERSONAL] {
    background-color: #eed8f3;
}
table#timelineTable .timelineStep > .timelineCell[contextClass=CC_SITUATIONAL] {
    background-color: #e6fdce;
}
table#timelineTable .timelineStep > .timelineCell[contextClass=CC_TECHNICAL] {
    background-color: #e6e6e6;
}
table#timelineTable .timelineStep > .timelineCell[contextClass=CC_PHYSICAL] {
    background-color: #fef6cd;
}
table#timelineTable .timelineStep > .timelineCell[contextClass=CC_LOCATION] {
    background-color: #fbd2d0;
}



table#timelineTable .timelineStep > .timelineCellOccupied {
    width: inherit;
    height: inherit;
    position: relative;
    border-style: none solid none;
}

table#timelineTable .timelineStep > .timelineCellMarked[contextClass=CC_SCENARIO],
table#timelineTable .timelineStep > .timelineCellOccupied[contextClass=CC_SCENARIO] {
    background-color: #3287C8;
}
table#timelineTable .timelineStep > .timelineCellMarked[contextClass=CC_PERSONAL],
table#timelineTable .timelineStep > .timelineCellOccupied[contextClass=CC_PERSONAL] {
    background-color: #AF46C8;
}
table#timelineTable .timelineStep > .timelineCellMarked[contextClass=CC_SITUATIONAL],
table#timelineTable .timelineStep > .timelineCellOccupied[contextClass=CC_SITUATIONAL] {
    background-color: #91F52D;
}
table#timelineTable .timelineStep > .timelineCellMarked[contextClass=CC_TECHNICAL],
table#timelineTable .timelineStep > .timelineCellOccupied[contextClass=CC_TECHNICAL] {
    background-color: #969696;
}
table#timelineTable .timelineStep > .timelineCellMarked[contextClass=CC_PHYSICAL],
table#timelineTable .timelineStep > .timelineCellOccupied[contextClass=CC_PHYSICAL] {
    background-color: #FADC3C;
}
table#timelineTable .timelineStep > .timelineCellMarked[contextClass=CC_LOCATION],
table#timelineTable .timelineStep > .timelineCellOccupied[contextClass=CC_LOCATION] {
    background-color: #F03C32;
}


table#timelineTable .timelineStep > .timelineCellOccupied::after {
    content: "";
    background: inherit;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    display: block;
    cursor: s-resize;
}


/*** the following is legacy ***/

#timelineContainer .resizableEvent {
    height: inherit;
    min-height: inherit;
    width: inherit;
    background-color: #1ABC9C;
    border: 1px solid gray;
    position: absolute;
    top: inherit;
    left: inherit;
}

#timelineTable .ui-draggable-handle {
    cursor: move;
}

#timelineTable .ui-resizable-s {
    position: absolute;
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
    cursor: s-resize;
}

